<a href="/users/new"><button type="button">Register new user</button></a>
<a href="/players/"><button type="button">Edit the canvas</button></a>
<form action="/admin/logout" method="POST">
    <input type="submit" value="Logout">
</form>