<head>
  <link rel="stylesheet" href="/assets/css/style.css">
</head>

<nav class="navbar navbar-expand-lg navbar-dark menu">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../images/netsoc.png" width = "69" height = "64.6" alt="Netsoc Logo Image">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/info">Info</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/login">Log-in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/contribute">Contribute</a>
        </li>
      </ul>
      <a href="https://netsoc.com/"><button type="button" class="rounded-pill btn-rounded">Website</button></a>
    </div>
  </div>
</nav>

      <!-- START THE FIRST PART -->

      <section id="home" class="info-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 intros">
                    <h1 class="display-2">
                        <span class="display-2--intro">Information</span>
                        <span class="display-2--description">
                            r/place was originally created by Reddit to bring together people to collaborate and create beautful artwork.
                            Now you can do the same with friends or by yourself here! Make sure to register yourself to Netsoc, to create
                            some beautiful tile-based art!
                        </span>
                    </h1>
                    <br><br>
                    <p class="display-2">
                        <span class="display-2--description">
                            Happy Freshers! 🥳🥳🥳
                        </span>
                    </p>
                    <br><br><br><br><br>
                </div>
                <div class="col-md-4 image">
                    <img src="/images/netsoc.png" alt="Netsoc Logo Name" width="400" height="400" class="netsoc-logo">
                </div>
            </div>
        </div>
      </section>
  
      <!-- Include Bootstrap JavaScript and jQuery -->
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>